.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  	transition: 1500ms ease-out;
    transform: translateX(0);
}

.slide-leave {
  opacity: 0;
  transform: translateX(0);
}

.slide-leave.slide-leave-active {
  transition: 700ms ease-out;
  transform: translateX(-100%);
}

.thumb {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: 30%;
    height: 40%;
    display: inline-block;
    margin: 20px;
    background: #87cefa
}

.description {
    display: inline-block;
}

.container {
	  border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 1%
}
